In [2]:
import pandas as pd

In [7]:
pop_df = pd.read_csv('ohio-counties-pop-2019.csv')
vaccine_data = pd.read_csv('./vaccine_data.csv')

FileNotFoundError: [Errno 2] No such file or directory: './vaccine_data.csv'

In [6]:
pop_df

    county_fips county_name state  pop_2019
0         39001       Adams    OH     27776
1         39003       Allen    OH    103175
2         39005     Ashland    OH     53536
3         39007   Ashtabula    OH     97830
4         39009      Athens    OH     65917
..          ...         ...   ...       ...
83        39167  Washington    OH     60426
84        39169       Wayne    OH    116099
85        39171    Williams    OH     36816
86        39173        Wood    OH    130150
87        39175     Wyandot    OH     22000

[88 rows x 4 columns]

In [9]:
merged_df = pd.merge(pop_df, fips_df[fips_df.state == 'OH'], on='county_name')

In [13]:
merged_df = merged_df[['county_fips', 'county_name', 'state', 'pop_2019']]

In [19]:
vaccine_data.groupby('county').sum().reset_index()

        county  vaccines_started  vaccines_completed
0        Adams              2192                 622
1       Allen              10735                3843
2      Ashland              4039                1632
3    Ashtabula              9410                3588
4       Athens              6899                2169
..         ...               ...                 ...
85  Washington              7361                2495
86       Wayne              8548                3177
87    Williams              3897                1119
88       Wood              15406                6733
89     Wyandot              2264                 795

[90 rows x 3 columns]

In [20]:
vaccine_data

       county        date  vaccines_started  vaccines_completed
0       Adams  2020-12-14                 0                   0
1       Adams  2020-12-15                 0                   0
2       Adams  2020-12-16                 0                   0
3       Adams  2020-12-17                 0                   0
4       Adams  2020-12-18                 4                   0
...       ...         ...               ...                 ...
5575  Wyandot  2021-02-09                45                  12
5576  Wyandot  2021-02-10               123                  47
5577  Wyandot  2021-02-11                15                  55
5578  Wyandot  2021-02-12                 7                  51
5579  Wyandot  2021-02-13                 1                   4

[5580 rows x 4 columns]